@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --dark: #000;
    --green: #06d996;
    --lime-green: #78cc50;
    --light: #F3F4F8;
    --deep-blue: #3b5999;
    --light-blue: #00ACEE;
    --purple: #9358ac;
    --orange: #ed563b;
    --white: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

body {
    width: 100%;
    background: var(--light);
    position: relative;
    display: flex;
}

#menu {
    background: var(--dark);
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#menu .logo {
    display: flex;
    align-items: center;
    color: var(--white);
    padding: 30px 0 0 30px;
}

#menu .logo img {
    width: 40px;
    margin-right: 15px;
}

#menu .items {
    margin-top: 20px;
}

#menu .items li {
    color: var(--white);
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}

#menu .items li:hover {
    background: #253047;
    cursor: pointer;
}

#menu .items li i {
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

#menu .items li:hover i,
#menu .items li:hover a {
    color: #f3f4f6;
}

#menu .items li a {
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
    transition: 0.3s ease;
}

#interface {
    width: calc(100% - 200px); 
    margin-left: 200px;
    position: relative;
}

#interface .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: var(--green);
    position: fixed;
    width: calc(100% - 200px);
}

#interface .navigation .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid var(--light);
    border-radius: 25px;
}

#interface .navigation .search input {
    background: var(--green);
    border: none;
    outline: none;
    font-size: 14px;
}

#interface .navigation .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#interface .navigation .profile i {
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .navigation .profile img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.n1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu-btn {
    display: none;
    color: #2b2b2b;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.i-name {
    color: var(--dark);
    padding: 30px 30px 0 30px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 50px;
}

.values {
    padding: 10px 30px 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.values .val-box{
    background: var(--white);
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.values .vally-box{
    background: var(--white);
    width: 235px;
    /* padding: 16px 20px; */
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.values .vally-box .down {
    background: var(--white);
    text-align: center;
    height: 40px;
    width: 235px;
}

.values .vally-box .up {
    background: var(--lime-green);
    color: var(--white);
    padding: 20px;
    margin-bottom: 10px;
}

.values .vally-box .up .upper {
    display: flex;
    font-size: 12px;
    margin-bottom: 10px;
    justify-content: space-around;
}

.values .vally-box .up .downer{
    text-align: center;
    font-size: 14px;
}

.values .val-box .date {
    display: inline-block;
    background: var(--light);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
    border-radius: 0.4rem;
}

.values .val-box .date input[type="date"] {
    background: transparent;
    color: var(--dark);
    border: none;
}

.values .val-box i {
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: var(--white);
    margin-right: 15px;
}

.values .val-box:nth-child(1) i{
    background: var(--deep-blue);
}

.values .val-box:nth-child(2) i{
    background: var(--orange);
}

.values .val-box:nth-child(3) i{
    background: var(--purple);
}

.values .val-box:nth-child(4) i{
    background: var(--light-blue);
}

.values .val-box h3 {
    font-size: 18px;
    font-weight: 600;
}
 
.values .val-box span {
    font-size: 15px;
    color: #828997;
}

.board {
    width: 75%;
    margin: 30px 0 30px 0px;
    overflow: auto;
    background: var(--white);
    border-radius: 8px;
}

#interface .board {
    margin-top: 1.5rem;
}

#interface .board h2{
    margin-top: 1rem;
    margin-left: 2rem;
}

#interface .board table {
    /* background: var(--white); */
    width: 100%;
    border-radius: 2rem;
    color: grey;
    padding: 1.8rem;
    text-align: center;
    box-shadow: 0 2rem 3rem var(--light);
    transition: all 300ms ease;
}

#interface .board table:hover {
    box-shadow: none;
}

.board2 {
    width: 100%;
    overflow: auto;
    background: var(--white);
}

#interface .board2 {
    margin-top: 1.5rem;
}

#interface .board2 h2{
    font-size: 12px;
    margin-top: 1rem;
    margin-left: 2rem;
}

#interface .board2 table {
    /* background: var(--white); */
    width: 100%;
    border-radius: 2rem;
    color: grey;
    padding: 1.8rem;
    text-align: center;
    box-shadow: 0 2rem 3rem var(--light);
    transition: all 300ms ease;
}

#interface .board2 table:hover {
    box-shadow: none;
}


#interface table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--light);
    color: grey;
    font-size: small;
}

#interface table tbody tr:last-child td{
    border: none;
}

/* Media Queries */

@media (max-width: 769px) {
    #menu {
        width: 270px;
        position: fixed;
        left: -270px;
        transition: 0.3s ease;
    }

    #menu.active {
        left: 0px;
    }

    #menu-btn {
        display: initial;
    }

    #interface {
        width: 100%;
        margin-left: 0px;
        display: inline-block;
        transition: 0.3s ease;
    }

    #menu.active~#interface{
        width: calc(100% - 270px);
        margin-left: 270px;
        transition: 0.3s ease;
    }

    #interface .navigation{
        width: 100%;
    }

    .values {
        padding: 30px 30px 0 30px;
        justify-content: flex-start;
    }

    .values .val-box {
        padding: 16px 20px;
        margin: 10px 20px 10px 0;
    }

    .board{
        width: 92%;
        padding: 0;
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
}

@media (max-width: 477px) {
    #interface .navigation {
        padding: 15px;
    }

    #interface .navigation .search input{
        width: 150px;
    }

    .i-name {
        padding: 30px 15px 0 15px;
    }

    .values {
        padding: 30px 15px 0 15px;
    }

    .values .val-box {
        width: 100%;
        margin: 8px 0;
    }

    .board {
        width: 92%;
        padding: 0;
        overflow-x: auto;
    }
}